<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haiqiu.datamanager.dao.RolePOMapper">
  <resultMap id="BaseResultMap" type="com.haiqiu.datamanager.poentity.RolePO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="group" jdbcType="VARCHAR" property="group" />
    <result column="order" jdbcType="INTEGER" property="order" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, 'group', order
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.haiqiu.datamanager.poentity.RolePO">
    insert into role (id, name, group,
      order)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{group,jdbcType=VARCHAR},
      #{order,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.haiqiu.datamanager.poentity.RolePO">
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="group != null">
        group,
      </if>
      <if test="order != null">
        order,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="group != null">
        #{group,jdbcType=VARCHAR},
      </if>
      <if test="order != null">
        #{order,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.haiqiu.datamanager.poentity.RolePO">
    update role
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="group != null">
        group = #{group,jdbcType=VARCHAR},
      </if>
      <if test="order != null">
        order = #{order,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.haiqiu.datamanager.poentity.RolePO">
    update role
    set name = #{name,jdbcType=VARCHAR},
      group = #{group,jdbcType=VARCHAR},
      order = #{order,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
